@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<p>CLAIMS DEL USUARIO</p>

@if (User.Identity.IsAuthenticated)
{
    <table class="table">
        @foreach(var x in User.Claims)
        {
            <tr>
            <td>@x.Type</td>
            <td>@x.Value</td>
        </tr>
        }
        

    </table>

}
